<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signUp</title>
</head>
<body>
    <h2>SignUp Page</h2>
    <form action="/signUp.do" method="post">
        ID : <input type="text" name="userId"><br>
        PassWord : <input type="password" name="password"><br>
        Name : <input type="text" name="userName"><br>
        Birthday : <input type="text" name="birthday" placeholder="8자리로 입력"><br>
        Tel : <input type="text" name="tel"><br>
      <input type="submit" value="signUp">
    </form>
</body>
</html>