<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>update</title>
</head>
<body>
<form action="/user/update.do" method="post">
  <input type="hidden" th:value="${userInfo.seq}" name="seq"><br>
  이름: <input type="text" th:value="${userInfo.userName}" name="userName" readonly> <br>
  아이디: <input type="text" th:value="${userInfo.userId}" name="userId" readonly> <br>
  비밀번호: <input type="text" th:value="${userInfo.password}" name="password"> <br>
  전화번호: <input type="text" th:value="${userInfo.tel}" name="tel"> <br>
  생일: <input type="text" th:value="${userInfo.birthday}" name="birthday"> <br>
  <input type="submit" value="정보수정">
</form>
</body>
</html>